<div class='messages'>
</div>

<form id='new-comment-form'>
  <div class='field'>
    <label for='content'>Comment:</label>
    <textarea name='content' id='content' />
  </div>
  <div class='actions'>
    <input type='submit' value='Add comment' />
  </div>
</form>
