<div id="exchanges"></div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    function load() {
      Sayings.init( <%== @exchanges.to_json %> );
      alert( "initted" );
    }
  <% end %>
<% end %>
