<div id="exchanges"></div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $( document ).ready( function() {
      Sayings.init( <%== @exchanges.to_json %> );
    } );
  <% end %>
<% end %>
