<div id="exchanges">
  <div id='entries-column'></div>
  <div id='comments-column'></div>
</div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $( document ).ready( function() {
      Sayings.init( <%== @exchanges.to_json %>, <%== current_user.to_json %> );
    } );
  <% end %>
<% end %>
