<h1>New user</h1>

<form id='new-user'>
  <div class='field'>
    <label for='username'>Username:</label>
    <input type='text' name='username' id='username' />
  </div>
  <div class='field'>
    <label for='password'>Password:</label>
    <input type='password' name='password' id='password' />
  </div>
  <div class='field'>
    <label for='password_confirmation'>Password confirmation:</label>
    <input type='password' name='password_confirmation' id='password_confirmation' />
  </div>
  <div class='actions'>
    <input type='submit' value='Create user' />
  </div>
</form>
