<div class='messages'>
</div>

<form id='new-exchange-form'>
  <div class='field'>
    <label for='content'>content:</label>
    <textarea id='content' />
  </div>

  <div class='actions'>
    <input type='submit' value='Respond' />
  </div>
</form>
