<div class='exchange-header'>
  <div class='first-username'></div>
  <div class='back-link'></div>
  <div class='second-username'></div>
  <div class='exchange-header-footer'></div>
</div>
<div class='entries'></div>
