<form id='sign-in-form'>
  <div class='field'>
    <label for='username'>Username:</label>
    <input type='text' name='username' id='username' />
  </div>
  <div class='field'>
    <label for='password'>Password:</label>
    <input type='password' name='password' id='password' />
  </div>
  <div class='actions'>
    <input type='submit' value='Sign up/in' />
  </div>
</form>

<div class='messages'>
</div>
