<h1>New exchange</h1>

<form id="new-exchange" name="exchange">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value=<%= content %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Exchange" />
  </div>

</form>

<a href="#/index">Back</a>