<div class='entries-column'>
  <div class='exchange-header'>
    <div class='first-username'></div>
    <div class='back-link'></div>
    <div class='second-username'></div>
  </div>
  <div class='entries'></div>
</div>
<div class='comments-column'></div>
