<div class='messages'>
</div>

<form id='new-entry-form'>
  <div class='field'>
    <label for='content'>Response:</label>
    <textarea name='content' id='content' />
  </div>
  <div class='actions'>
    <input type='submit' value='Respond' />
  </div>
</form>
