<form id='new-exchange-tag-form'>
  <div class='field'>
    <label for='tag_name'>New tag:</label>
    <input type='text' name='tag_name' id='tag_name' />
  </div>
  <div class='actions'>
    <input type='submit' value='Add tag' />
  </div>
</form>
